@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #ffffff;
	background-image: url("/PAW-BG.png");
	background-position: calc(50% + 24px) top;
	background-repeat: repeat-y;
	background-size: 100% auto;
}